<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Article Detail</h1>
    <ul>
      <li>title: {{article.title}}</li>
      <li>content: {{article.content}}</li>
      <li>author: {{article.author.first_name}} {{article.author.last_name}}</li>
      <li>{{article.publications_datetime}}</li>
    </ul>
    <a href="/article_list_view/">all article</a>
    
</body>
</html>